.App {
  background-color: rgb(47, 47, 47);
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.jc-center {
  justify-content: center;
}
.jc-end {
  justify-content: flex-end;
}
.jc-start {
  justify-content: flex-start;
}
.jc-around {
  justify-content: space-around;
}
.jc-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.ai-end {
  align-items: flex-end;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.ai-center {
  align-items: center;
}
