$lightBlue: #cdefff;
$background: #2f2f2f;
$lightGray: #3f3f3f;
$textBlack: #272727;
$errorRed: #d32f2f;

.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: $lightBlue;
    color: $textBlack;
    height: 4rem;
    padding: 0.5rem 1rem !important;
    flex-wrap: nowrap !important;
    .home {
        cursor: pointer;

        .logo {
            max-height: 3rem;
            padding-right: 1rem;
        }
    }
    .circle {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
    .link {
        margin-left: 1rem;
    }
}
.loading-screen,
.error-screen {
    height: 70vh;
    width: 100vw;

    a {
        color: $lightBlue;
        text-decoration: underline;
        padding-top: 1rem;
        font-size: 1.2rem;
    }
}
.login-twitch {
    background: #65459b !important;
    border-color: transparent !important;
    font-weight: bold !important;

    &:hover {
        filter: brightness(0.9);
    }

    img {
        height: 1.5rem;
    }
}
.dashboard {
    background-color: $background;
    .list-container {
        margin-top: 5rem;
        padding: 0 2rem 2rem 2rem;
        width: 95vw;
        max-width: 27rem;
        height: 75vh;
        max-height: 60rem;
        border-radius: 0.5rem;
        border: 1px solid gray;
        .queue {
            height: 100%;
            width: 100%;
            div {
                width: 100%;
            }
        }
        .entries-list {
            width: 100%;

            .entry {
                padding: 0.2rem 0.5rem;
                width: 100%;
                background: $lightGray;
                border: 2px solid white;

                &.user-entry {
                    border: 4px solid lightGreen;
                }

                img {
                    width: 2rem;
                }
            }
        }
    }
    padding-bottom: 5rem;
}
