$lightBlue: #c0fbf9;
$background: #2f2f2f;
$lightGray: #3f3f3f;
$textBlack: #272727;
$errorRed: #d32f2f;

circle {
    stroke: $lightBlue !important;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    background: $lightBlue !important;
    color: $textBlack;
    height: 4rem;
    padding: 0.5rem 1rem !important;
    flex-wrap: nowrap !important;
    .home {
        cursor: pointer;
        h1 {
            font-size: clamp(1.5rem, 2vw, 2.5rem);
        }

        .logo {
            max-height: 3rem;
            padding-right: clamp(0rem, 2vw, 2rem);
        }
    }
    .circle {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
    .p-button.logout {
        padding: 0;
        width: 5rem;
    }
}
.loading-screen,
.error-screen {
    height: 70vh;
    width: 100vw;

    a {
        color: $lightBlue;
        text-decoration: underline;
        padding-top: 1rem;
        font-size: 1.2rem;
    }
}
.join-button {
    width: 20rem;
    height: 3rem;
    span {
        font-weight: bold;
    }
    .p-progress-spinner {
        width: 100%;
        height: 100%;
    }
}
.login-twitch {
    background: #65459b !important;
    border-color: transparent !important;
    font-weight: bold !important;

    &:hover {
        filter: brightness(0.9);
    }

    img {
        height: 1.5rem;
    }
}
.dashboard {
    background-color: inherit;
    > div {
        margin-top: 5rem;
    }
    .list-container {
        width: 95vw;
        max-width: 27rem;
        height: 75vh;
        max-height: 60rem;
        position: relative;
        .clear {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            z-index: 1;
        }
        .list {
            height: 100%;
            width: 100%;

            .list-title-container {
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
                border: 1px solid gray;
                background-color: $lightGray;
                position: relative;

                &.in-game {
                    height: 70%;
                }

                .list-title {
                    height: 6rem;
                }
                .queue-toggle {
                    position: absolute;
                    top: 1.3rem;
                    left: 0.5rem;
                    z-index: 1;
                }
                .entries-list {
                    height: calc(100% - 6rem);
                    width: 100%;
                    overflow-y: scroll;

                    .entry {
                        padding: 0.2rem 0.5rem;
                        width: 100%;
                        border-radius: 0.5rem;
                        background: $lightGray;
                        border: 2px solid white;

                        &.user-entry {
                            border: 4px solid lightGreen;
                            filter: brightness(1.2);
                        }

                        img {
                            width: 2rem;
                        }

                        .action-button-container {
                            width: 3.5rem;
                            height: 100%;
                            .p-progress-spinner {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    padding-bottom: 5rem;
}
.p-progress-spinner-circle {
    100%,
    0% {
        stroke: white !important;
    }
}
.p-dialog {
    width: 30rem;
    max-width: 95vw;
}
